<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="/adminpage.css">
    
</head>
<body>

  <div class="container">
    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>User</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((e, i) => { %>
        <tr>
          <td>
            <%= i+1 %>
          </td>
          <td>
            <%= e.title %>
          </td>
          <td>
            <%= e.User.username %>
          </td>
          <td>
            <%= e.action %>
            <a href="/adminPage/delete/<%= e.id %>"><button>Delete</button></a>
          </td>

        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>