<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
    </head>
<body>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-light bg-white">
        <a href="#" class="navbar-brand">Friend Feed</a>
        <form class="form-inline" action="" method="get">
            <div class="input-group">
                <input name="search" type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </nav>
   
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body mb-4">
                    <div class="h5"><%=user.username%></div>
                    <div class="h7 text-muted"><%=user.email%></div>
                </div>
                <button class="btn btn-primary mb-2"><a href="/homePage/addPost" style="color: white;">Add Post</a></button>
                <button class="btn btn-primary mb-2"><a href="/userdetails" style="color: white;">Profile Settings</a></button>
                <button class="btn btn-primary mb-2"><a href="/logout" style="color: white;">Logout</a></button>
            </div>
        </div>
        <div class="col-md-6 gedf-main">

         
                <% data.forEach(e => { %> 
             
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="h5 m-0"><%= e.User.username %></div>
                                        <div class="h7 text-muted"></div>
                                    </div>
                                </div>
                                <div>
                                    <div style="white-space: normal;"></div>
                                    <% e.Categories.forEach(category => { %>
                                        <%= category.name %>
                                    <% });  %>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i><%= e.createdAt %></div>
                            <img class="card-img-top" src="<%=e.imageUrl %>" alt="Card image">
                            <a class="card-link" href="#">
                                <h5 class="card-title"><%= e.title %></h5>
                            </a>
                            <p class="card-text">
                                <%= e.content %>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                            <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                        </div>
                    </div>
                <% });  %>

        </div>
        <div class="col-md-3">
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">Income kamu masih kurang?</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Butuh passive income yang melebihi inflasi?</h6>
                    <p class="card-text">Mari mulai investasikan uangmu di Sintetik dan dapatkan profit sebanyak 100x!</p>
                    <a href="https://github.com/makbara000/Sintetik.git" class="card-link">click here for details</a>
                </div>
            </div>
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">Diskon di E-Commercemu kurang?</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Free ongkir di E-Commercemu terbatas?</h6>
                    <p class="card-text">Belanjalah di Tokopididi Lite sekarang dan dapatkan free ongkir 1000x</p>
                    <a href="#" class="card-link">click here for details</a>   
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>